name: RediX CD

on:
  push:
    branches:
      - main

jobs:
  build-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-type: [Release]

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake g++ make
      - name: Build Release
        run: |
          mkdir -p build/Release
          cd build/Release
          cmake -DCMAKE_BUILD_TYPE=Release ../..
          make -j$(nproc)
      - name: Upload Prod Artifact
        uses: actions/upload-artifact@v3
        with:
          name: RediX-Release
          path: build/Release/RediX
